<form method="post" action="{{ path('type_compte_delete', {'id': type_compte.id}) }}">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_compte.id) }}">
	<button class="btn btn-blue">Delete</button>
</form>
