html{
    font-family: 'Roboto', sans-serif;
}
body{
    background: #F8F9FF;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    padding-bottom: 10px;
    }
body a{
    text-decoration: none !important;
}

    ul{
        list-style: none;

    }
    .clear{
        content: '';
        clear: both;
    }

    /* .content-info .header,
    .content-g-projet .header,
    .sidbar-activite .header
     */
    .header {
        position: relative;
        border-bottom: 1px solid #292E94;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #fff;
        height: 80px;
    }

    /*
    .content-info .header ul li,
    .content-g-projet .header ul li,
    .sidbar-activite .header ul li
     */
     .header ul li {

        display: inline-block!important;
        color: #292E94;
        margin-right: 46px;
        margin-top: 39px;
        padding-bottom: 27px;
        height: 40px;
        cursor: pointer;
    }


   #info-invest{
       display: none;
   }
    .header ul li.actualiser{
        margin-top: 12px;
    }
    .no-left-padding{
        padding-left: 0px ;
    }
    .no-right-padding{

        padding-right: 0px ;
    }
    .no-left-margin{
        margin-left: 0px ;
    }
    .no-right-margin{
        margin-right: 0px !important;
    }
    /*
    .content-info .header ul li:first-child,
    .content-g-projet .header ul li:first-child,
    .sidbar-activite .header ul li:first-child
    */
    .header ul li.active{
        border-bottom: 2px solid #292E94;
    }
    .header ul li.capitalize {

        text-transform: capitalize;
    }
    .comment .header  li:first-child {
         border-bottom: 0px!important;
    }
    .sidbar-compte .comment .header {
        height: 80px ;
        padding-top: 5px;
        border-bottom: 1px solid #292E94;
        margin-bottom: 37px;
    }
    .sidbar-compte .comment {
        width: 100%;
        background: #fff;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 8px;
        height: 314px;
    }
    .first-activite-cart-visite{

        height: 268px !important;
        background-color: #fff;
    }
    .first-activite-contact{

        height: 316px !important;
        background-color: #fff;
    }
    .sidbar-compte .comment.activite{
        height: 222px !important;
        /* height: 295px !important; */
    }
    .wrape-contact-details{
        padding-left: 35px;
        padding-right: 35px ;
    }
    .content-info{
        border-radius: 10px;

        background-color: #fff;
        padding-left: 0px ;
        padding-right: 0px ;
    }
    .content-info-contact{

        margin-left:0px !important;
        /* margin-right: 15px !important; */
    }

    .wrapper-g-projet {
        /* background-color: #fff; */
        margin-top: 20px;
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 20px;
    }
    .wrapper-g-projet-client {
        background-color: transparent;
        margin-top: 20px;

    }
    .third-header{
        border-bottom: 1px solid rgba(41, 46, 148, .3);
        height: auto;
        margin-bottom: 10px;
        padding-top: 10px;
    }
    .wrapper{
        padding-right: 1px !important;
        padding-left: 1px !important;
    }
    .third-header ul.steps,
    .third-header ul.GPAC,
    .third-header ul.img-profil{

        margin-top: 0px;
    }

    .third-header ul.GPAC,
    .third-header ul.img-profil{
        padding-inline-start: 0px;

    }
    .wrap-profil{
        padding-left: 0px;
    }

    .third-header ul.steps{
        padding-inline-start: 16px;

    }
    .header ul.form-project-invest{
        padding-inline-start: 40px;

    }
    .header ul.form-activite{
        padding-inline-start: 16px;

    }
    .sidbar-compte {
       /*  box-shadow: 0px 3px 6px #00000029; */
       /* background-color: #fff; */
       padding-right: 10px;
    }
    .sidbar-activite{
        padding-right: 8px ;

    }
    .sidbar-activite >div{
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 8px;
    }


    .third-header .special{
        margin-top: 18px;
    }

    .third-header ul.steps label,
    .third-header ul.GPAC label{
        vertical-align: middle;
        font-size: 13px;
        color: #CCCCCC;
    }
    .third-header ul.steps label.active,
    .third-header ul.GPAC label.active {
        color: #292E94;
        font-weight: bold;
    }
    .third-header ul.steps li {
        float: left;
        width: auto;
        margin-right: 15px;
    }

    .third-header ul.GPAC-compte{
        padding-left: 0px ;
        margin-top: 10px;
    }
    .third-header ul.steps-compte{
        padding-left: 20px !important;
        margin-top: 10px;
    }
    .third-header ul li a.warning {
        background-color: #D41224;
    }
    .third-header ul li a.warning::before{
        content: '\000021';
        font-size: 3em;
        color: #fff;
        font-family: 'Roboto';
    }
    .third-header ul.steps-compte li a,
    .third-header ul.GPAC-compte li a{
        display: inline-block;
        width: 57px;
        height: 57px;
        border-radius: 30px;
        border: 1px solid #D3D3D4;
        text-align: center;
        line-height: 52px;
        vertical-align: middle;
        margin-bottom: 10px;
        color: #BFBFBF;
        font: normal normal bold 12px/57px Roboto;
    }
    .third-header ul.steps-compte li span,
    .third-header ul.GPAC-compte li span{
        display: inline-block;
        width: 44px !important;
        height: 44px !important;
        line-height: 44px !important;
        border-radius: 30px;
        border: 1px solid #D3D3D4;
        text-align: center;
        vertical-align: middle;
        margin-bottom: 10px;
        color: #BFBFBF;
        font: normal normal bold 12px/57px Roboto;
    }

  /*   .third-header ul.steps-compte li a {

        width: calc(100% - 74%) !important;
        height: auto;
        display: block !important;
        padding: calc(10% - 0px) 0px;
        line-height: -2%;
        border-radius: 50% !important;
        background-size: cover;
        background-position: 50%;
        border: solid 2px #00a7ee;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.2s ease-in;
      }

    .third-header ul.GPAC-compte li a {

        width: calc(100% - 74%) !important;
        height: auto;
        display: inline-block !important;
        padding: calc(10% - 0px) 16px !important;
        line-height: -2%;
        border-radius: 50% !important;
        background-size: cover;
        background-position: 50%;
        border: solid 2px #00a7ee;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.2s ease-in;
      } */
    .third-header ul.steps-compte li .fa-sort-asc,
    .third-header ul.GPAC-compte li .fa-sort-asc {
        width: 6px;
        height: 10px;
        transform: rotate(90deg);
    }
    .third-header ul.steps-compte li,
    .third-header ul.GPAC-compte li a {
        float: left;
        width: auto;
        margin-right: 4px;
    }
    .third-header ul.steps-compte label, .third-header ul.GPAC-compte li a {
        vertical-align: middle;
        letter-spacing: 0px;
        /* width: 95px; */
        padding: 0px 5px 0px 5px;
        font-size: 13px;
        font-weight: bold;
        color: #CCCCCC;
    }
    .third-header ul.steps-compte li a.active,
    .third-header ul.GPAC-compte li a.active{
        display: inline-block;

        border-radius: 30px;
        background-color: #292E94 ;
        color: #fff;
        text-align: center;
        line-height: 25px;
    }

    .third-header ul.steps div.last-step{
        display: inline-block;
        margin-right: 0px;
    }
    .third-header ul.GPAC li{
        float: left;
        width: auto;
    }
    .third-header ul.GPAC li{
        margin-right: 7px;
      }
    .third-header ul.GPAC li:first-child{
      margin-right: 10px;
    }

    .third-header ul.steps li .fa-sort-asc,.third-header ul.GPAC li .fa-sort-asc{
        width: 6px;
        height: 10px;
        transform: rotate(90deg);
    }
    .mt100 {
        margin-top: -10px;
    }
    .third-header ul.steps li a, .third-header ul.GPAC li a {
        display: inline-block;
        width: 44px;
        height: 44px;
        border-radius: 30px;
        border: 1px solid #D3D3D4;
        text-align: center;
        /* line-height: 35px; */
        vertical-align: middle;
        margin-bottom: 10px;
        color: #BFBFBF;
        font: normal normal bold 24px/45px Roboto;
    }

    .third-header ul.img-profil li {
        position: relative;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        /* border: 0px solid #D3D3D4; */
        vertical-align: middle;
        color: #BFBFBF;
    }
    .third-header ul.img-profil li .info-profil{
        /* border: 1px solid #f00; */
        position: absolute;
        top: 6px;
        left: 76px;
    }
    .third-header ul.img-profil li .info-profil strong{

        text-align: left;
        font-size: 18px;
        letter-spacing: 0px;
        color: #000000;
        text-transform: capitalize;
        /* font: normal normal medium /21px Roboto !important; */
        font-weight: normal;

    }
    .third-header ul.img-profil li .info-profil span{

        text-align: left;
        font-size: 12px;
        letter-spacing: 0px;
        color: #666564;
        text-transform: capitalize;
    }
    .third-header ul.img-profil li .clip-profil {
        clip-path: circle(26px at center);
    }
    .third-header ul.steps li a.active, .third-header ul.GPAC li a.active{
        display: inline-block;

        border-radius: 30px;
        background-color: #292E94 ;
        color: #fff;
        text-align: center;
        line-height: 25px;
    }
    .third-header ul li a.active-exc{
        background-color: #292E94 !important;
    }

    .third-header ul.signal li a.warning{
        background-color: #D41224;;
        color: #fff;
    }
    .third-header ul.steps li a.active img,
    .third-header ul.GPAC li a.active img{
        width: 50%;
        height: 50%;
        margin-top: 26%;
    }

    .sidbar-compte .compte, .sidbar-compte .contact{
        display: inline-block;
        background-color:  #FFF;
        border-radius: 10px;
        height: 704px;
        box-shadow: 0px 3px 6px #00000029;
    }
    .sidbar-compte .wrape-compte{
        display: inline-block;

        background-color:  transparent;
        padding-right: 0px !important;
        padding-left: 0px !important;

        border-radius: 10px;
        height: auto;
    }
    .sidbar-compte .wrape-compte .min-compte{
        /* border: 1px solid #f00; */
        display: inline-block;
        background-color:  #FFF;
        border-radius: 10px;
        width: 100%;
        height: 225px ;
    }
    .sidbar-compte .wrape-compte .min-compte:last-child{
        margin-top: 20px;
    }
    .sidbar-compte .wrape-compte .min-compte .profil .thumb>img{
        width: 100px;
    }
    /* .sidbar-compte .wrape-compte .min-compte .profil {

        margin-top: 50%;

    } */
    .contact{
        /* border: 1px solid #f00; */
        margin-left: 10px;
        position: relative;
    }
    .contact{
        /* border: 1px solid #f00; */

        position: relative;
    }

    .contact .header,.sidbar-compte .header{
        height: 31px;
        padding-top: 5px;
        border-bottom: 0px;
    }
    .sidbar-compte .wrape-compte .min-compte .header {
        height: 31px;
        padding-left: 11px;
    }
    .sidbar-compte .wrape-compte .min-compte .profil p{
        /* border: 1px solid #f00; */
        display: inline-block;
        width: 125px;
        text-align: left;
        font-size:  14px;
        line-height: 15px;
        font-family: Roboto;
        letter-spacing: 0px;
        color: #666564;
    }
    .sidbar-compte .wrape-compte .min-compte .profil span.active{
        width: 60px;
        height: 25px;
        font-size: 12px;
        vertical-align: middle;
        line-height: 20px;
        margin-bottom: 10px;
        color: #272C8F;
        border: 1px solid #272C8F;
        border-radius: 5px;
        display: inline-block;
        visibility: visible;
    }
    .sidbar-compte .wrape-compte .min-compte .profil span{
       visibility: hidden;
    }
    .sidbar-compte .wrape-compte .wrape-projects {
        margin-top: 5% !important;
    }
    .contact .header>h3,
    .sidbar-compte .header>h3{
        color: #292E94 ;
        line-height: normal;
        font: normal normal bold 20px/24px Roboto;
        text-transform: capitalize;

    }
    .sidbar-compte .contact ul{
        width: auto;
        margin-top: 30px;
       padding: 0px !important;
        float: left;
    }

    .actionaire .contact ul {
        width: auto;
        padding: 0px !important;
        float: left;
    }
    .actionaire .contact li {
        /* border: 1px solid #f00; */
        margin-bottom: 10px;
        text-align: left;
        display: block;
    }
    .actionaire .contact li a {
        display: inline-block;
        width: 45px;
        height: 45px;
        border-radius: 35px;
        background-color: #CCCCCC;
        color: #ECECEC;
        border: 1px solid #D3D3D4;
        text-align: center;
        line-height: 45px;
    }
    .actionaire .contact {
        margin-left: 0px;
        margin-right: 0px;
    }
    .actionaire .contact ul .info {
        /* border: 1px solid #f00; */
        font-size: 10px;
        display: inline-block;
        vertical-align: middle;
    }
    .actionaire .contact ul .info span {
        font-size: 12px;
        display: block;
    }
    .sidbar-compte .contact li{
        /* border: 1px solid #f00; */
        margin-bottom: 10px;
        text-align: left;
        display: flex;

    }
    .sidbar-compte .contact ul a{
        /* border: 1px solid #f00; */
        display: block;
    }
    /* .sidbar-compte .contact ul a li{


        font: normal normal medium 16px/19px Roboto;
      } */
  /*   .sidbar-compte .contact li a{
        width: 57px !important;
        height: 57px !important ;
        line-height: 55px;
    }
     .sidbar-compte .contact li a{
        display: inline-block;
        width: 45px;
        height: 45px;
        border-radius: 35px;
        background-color: #CCCCCC;
        color: #ECECEC;
        border:1px solid #D3D3D4;
        text-align: center;
        line-height: 45px;
    } */
    .sidbar-compte .compte-contact{
        border: 1px solid #292E94;
        border-radius: 7px;
        width: 90%;
        height: 38px;
        background-color: #fff;
        font: normal normal bold 13px/20px Roboto;
        color: #292E94;
        position: absolute;
        bottom: 9px;
        left: 5%;
    }
    .sidbar-compte .compte-contact > button.add-project{
        background-color: transparent;
        border: none !important;
        color: #292E94;
        width: 100%;
    }
    .new-contact,.new-carte-visit{
        background: none;
        border: none;
    }
    .sidbar-compte .compte-contact >button.add-project:focus {
        box-shadow: 0 !important;
        box-shadow: none ;
        background-color: transparent;
    }

    .sidbar-compte .contact ul .info {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        font-size: 16px;
        font-weight: normal ;
        font-style: normal;
        font-family: Roboto;
        color: #666564;
        letter-spacing: 0px;
    }
    .sidbar-compte .contact ul .info span {
        font-size: 12px;
        display: block;
    }
    .sidbar-compte .profil{

        display: block;
        text-align: center;
        font: normal normal bold 18px/36px Roboto;
        color: #292E94;

    }
    .sidbar-compte .profil strong{

        display: block;
        font: normal normal bold 12px/17px Roboto;
        color: #000;
    }


    .sidbar-compte .profil .thumb{
        display: block;
        text-align: center;
        width: 100%;
    }
    .sidbar-compte .profil .thumb>img{
        border: 1px solid #292E94;
        border-radius: 62px;
        width: 104px;
        height: 104px;
        margin: 20px;
        text-align: center !important;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;

    }
    .sidbar-compte .profil .clip-circle {
        clip-path: circle(70px at center);
      }

    .sidbar-activite .activite {
        width: 100%;
        display: inline-block;
        background-color: #FFF;
        border-radius: 10px;
        /* height: 217px; */
        height: auto;
        padding-bottom: 0px;
    }
    .sidbar-activite ul li.add-activte {
        background: #CECECE 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        width: 38px;
        height: 38px;
        border-radius: 19px;
        position: relative;
        /* bottom: 10px; */
        position: absolute;
        right: 20px;
        top: 25px;
    }




    .sidbar-activite ul li.add-activte a{
        position: absolute;
        top: 32%;
        left: 32%;

        line-height: 10px;
        color: #FFF;

    }

    .cree-par, .modifier-par{
        position: relative;
       /*  border: 1px solid #292E94; */

        height: 89px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 14px;
       /*  margin-left: 5px;
        margin-right: 5px; */

    }
    .user-operation >.row >.cree-par{
        margin-right: 5px;
    }
    .user-operation{
        margin-top: 20px;
    }
    .cree-par .icon-user,.modifier-par .icon-user{
        position: absolute;
        bottom: 33px;

    }
    .info-user{
        /* border: 1px solid #f00; */
        margin-left: 50px;
        margin-top: 15px;
    }
    .date-user{
        /* border: 1px solid #f00; */
        text-align: right;
        font: normal normal medium 12px/14px Roboto;
        letter-spacing: 0px;
        color: #666564;
        text-transform: capitalize;
    }
    .cree-par strong, .modifier-par strong{
        display: block;
        display: block;

        text-align: left;
        font: normal normal medium 16px/19px Roboto;
        letter-spacing: 0px;
        color: #000000;
       /*  text-transform: lowercase; */

    }
    .cree-par .name, .modifier-par .name{
        display: block;
        text-align: left;
        font: normal normal medium 14px/16px Roboto;
        letter-spacing: 0px;
        color: #666564;
        text-transform: capitalize;

    }
    .wrapper-item-activite{
        width: 100%;
        padding-top: 0px;
        float: none;
        /* overflow-y: scroll; */
        /* height: 550px; */
    }
    .wrapper-item-activite-export{
        height: 635px;
        border-radius: 10px;
    }

    .scroll_container {
       /*  background-color:#000000; */
        /* width:421px; */
        /* height:420px; */
        color:#999999 !important;
        /* border-radius:10px; */
        overflow:hidden;
        text-align:justify;
    }

    .scroll_content {
        position:relative;
        width:100%;
        /* height:414px; */
        height:551px;
        top:-17px;
        padding:20px 10px 20px 10px;
        overflow-y:auto;
    }

    .scroll_content-compte{
        height: 500px;
    }
    .wrape-filter{
       /*  border: 1px solid #294; */
        width: 100%;
        height: 43px;

    }
    .wrape-filter .filter{
        float: right;
    }
    .wrape-filter .filter span{
        width: 28px;
        height: 16px;
        text-align: center;
        font: normal normal medium 14px/16px Roboto;
        letter-spacing: 0px;
        color: #292E94;
    }

    .item-activite{
        position: relative;
        width: 100%;
        height: 250px;
        background: #F4F5FA 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 12px;
        margin-bottom: 43px;
    }
    .carte-visite{
        height: 264px !important;
        margin-bottom: 0px !important;
    }



    .comment .item-activite{
        background-color: transparent;
        box-shadow: none;
       /*  border-bottom: 1px solid rgba(41, 46, 148, 0.46); */
        border-radius: 0;
        height: 200px;
    }
    .wrapper-item-activite .item-activite:last-child{
        /* border: 1px solid #f00; */
        margin-bottom: 10px;

    }
    .wrap-img-activite{
        width: 40px;
        height: 40px;
    }
    .wrap-img-activite{
        position: absolute;
        top: -23px;
        left: 25px;
        display: inline-block;
        width: 48px;
        height: 48px;
        border-radius: 24px;
        background: #CECECE 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        text-align: center;
        /* line-height: 35px; */
        text-align: center;
        line-height: 42px;
        margin-bottom: 10px;
    }
    .comment .wrap-img-activite {
        position: absolute;
        top: 71px;
        left: 21px;
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 49px;
        background: none;
        box-shadow: none;
        border: 1px solid #292E94;
    }
    .comment .wrap-img-activite:before {
       display: none;
    }
    .wrap-img-activite:before {
        content: '';
        width: 2px;
        height: 20px;
        background: #292E94;
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -2px;
      }

     /* .item-activite .wrapper-content {

         height: 100%;
         width: 84%;
         float: right;
         padding-right: 10px;
     } */
     .item-activite .wrapper-content {
        height: 80%;
        width: 84%;
        float: right;
        padding-right: 10px;
        margin-top: 20px;
        overflow-y: scroll;
    }
     .item-activite .wrapper-content.wrapper-contact-compte{
        width: 74%;
     }
     .item-activite .wrapper-content.wrapper-compte {

        width: 76%;

    }

     .item-activite .wrapper-content .header {
        border: none;
        height: auto;
        background-color: transparent !important;
        margin-top: 10px;

    }
    .item-activite .wrapper-content strong {

        float: left;
        /* text-align: left; */
        font: normal normal bold 15px/24px Roboto;
        letter-spacing: 0px;
        color: #292E94;
        text-transform: uppercase;
        margin-bottom: 14px;
    }
    .item-activite .wrapper-content .date {

        float: right;
      /*   text-align: left; */
        font: normal normal normal 14px/16px Helvetica Neue;
        letter-spacing: 0px;
        color: #292E94;

    }

    .item-activite .wrapper-content .body span{
        text-align: left;
        display: inline-block;
        font: normal normal medium 16px/19px Roboto;
        letter-spacing: 0px;
        color: #666564;
        /* text-transform: capitalize; */
        margin-bottom: 14px;
    }
    .comment .item-activite .body{
        margin-top: 92px;
        margin-left: 25px;
    }
    .comment .item-activite .img-compte {
        width: 99px;
        clip-path: circle(48px at center);

    }
    .comment .item-activite .body span {
        text-align: left;
        font: normal normal bold 20px/24px Roboto;
        letter-spacing: 0px;
        color: #292E94;
        text-transform: uppercase;
    }
    .item-activite .wrapper-content .body p{
        text-align: left;
        font: normal normal normal 16px/20px Roboto;
        letter-spacing: 0px;
        color: #666564;
        /* text-transform: capitalize; */
    }
    /*********************************
        New Style | Projects
    *********************************/

    /* .cs-label{
        font-size: 0.8rem;
    } */
    .content-info .items-container,.content-g-projet .items-container {
        font-family: 'Roboto', sans-serif;
        height: 100%;
        border-right: 3px solid #8084c1;
        padding-right: 15px;
    }

    .content-info .items-container-header,.content-g-projet .items-container-header {
        background: #d9d9ef;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 9px;
        padding: 15px 25px;
        margin-bottom: 7px;
    }

    .content-info .items-container-header h3,.content-g-projet .items-container-header h3 {
        font-size: 17px;
        color: #000000;
        font-weight: bold;
        margin: 0;
    }

    .content-info .items-container > ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .content-info .items-container > ul > li {
        padding: 8px 25px;
        background: #fff;
        margin-bottom: 5px;
        background: #FFFFFF;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 9px;
        cursor: pointer;
    }

    .content-info .items-container > ul > li:last-child {
        margin: 0;
    }

    .content-info .items-container > ul > li.item-active {
        background: #292E94;
        color: #fff;
    }

    .content-info .items-container > ul > li.item-active .item-date {
        color: #fff;
    }

    .content-info .items-container .item-logo {
        width: 36px;
        height: 36px;
        overflow: hidden;
        margin-right: 25px;
        border-radius: 36px;
    }

    .content-info .items-container .item-title {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
    }

    .content-info .items-container .item-date {
        font-size: 11px;
        color: #292E94;
    }


    .content-info, .content-g-projet {
        background: #fff;
         box-shadow: 0px 3px 6px #00000029;
         border-radius: 8px !important;
        /*  padding-left: 15px; */
        padding-left: 0px;
     }
     .wrapp-content-g-projet{
        padding-left: 0px !important;
        padding-right: 0px !important;
     }
     .content-g-projet .header {
        margin-bottom: 20px;
     }

     .form-client {
        background: #fff;
      /*   box-shadow: 0px 3px 6px #00000029; */
        border-radius: 8px;
        padding: 12px 5px;
        margin-bottom: 10px;
    }
    .wrapper-g-projet-client .content-g-projet {
         background: #fff;
         box-shadow: 0;
         border-radius: 0px;
    }
    .wrapper-g-projet-client .content-g-projet .header {
        margin-bottom: 0px;
    }

    .wrapper-g-projet-client .form-client {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }


    .content-info .item-details-body > .cs-nav-tabs {
        border-bottom: 1px solid #292e94;
        padding: 0 28px;
    }

    .content-info .item-details-body > .cs-tab-content{

       /* margin: 0 20px;*/
        padding: 30px 10px 15px 10px;
        margin: 0;
    }
    .item-details-contact .cs-tab-content {
        padding: 15px 10px 1px 10px;

    }

    .cs-tab-contact{
        padding-left:  0px !important;
    }

    .content-info .item-details-header, .content-g-projet .item-details-header {
        background: #ffffff;
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 9px;
        display: inline-block;
        margin-bottom: 14px;
        padding: 8px;
    }

    .content-info .item-details-header .item-logo {
        position: relative;
        padding-right: 15px;
        margin-right: 10px;
        height: 50px;
    }

    .content-info .item-details-header .item-logo:after {
        content: '';
        border-left: 8px solid #292e94;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 8px;
        width: 8px;
    }

    .content-info .item-details-header .item-logo img {
        height: 100%;
    }

    .content-info .item-details-header .item-title {
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0px;
        color: #292E94;
        margin: 0;
    }

    .content-info .item-details-body .form-control {
        background: #F8F9FF;
        border-radius: 8px;
        border: none;
        font-size: 15px;
        font-weight: 400;

        letter-spacing: 0px;
        color: rgb(102 101 100 / 0.51);
        resize: none;
    }
    #compte_data_ecosystemeFiliere, #compte_data_Actionnaires, #compte_data_pays_implantation_succursales{
        height: 39px;
    }

    label.cs-label {
        display: inline-block;
        /* margin-bottom: 0.3rem !important; */
        margin-bottom: 0px ;
        padding-bottom: 0px !important;
    }
    label {
        display: inline-block;
        /* margin-bottom: 0.3rem !important; */
        margin-bottom: 7px !important;
    }
    .content-info .cs-label {
        font-size: 17px;
    }

    .content-info .cs-checkbox > input {
        display: none;
    }

    .content-info .cs-checkbox {
        border: 1px solid #292E94;
        border-radius: 15px;
        width: 35px;
        height: 13px;
        display: inline-block;
        margin: 0;
        position: relative;
    }

    .content-info .cs-checkbox > span {
        position: absolute;
        background: #292E94;
        box-shadow: 0px 1px 2px #00000029;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        left: -1px;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: 300ms all ease;
    }

    .content-info .cs-checkbox > input:checked + span {
        transform: translateX(20px);
    }


    .content-info .item-details-body > .cs-nav-tabs .nav-item {
        margin: 0;
    }

    .content-info .item-details-body > .cs-nav-tabs .nav-item a {
        background: transparent;
        border: none;
        padding: 28px 15px;
        color: #292E94;
        font-size: 20px;
        font-weight: bold;
        position: relative;
    }

    .content-info .item-details-body > .cs-nav-tabs .nav-item a:after {
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        background: transparent;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 5px 5px 0px 0px;
    }

    .content-info .item-details-body > .cs-nav-tabs .nav-item a.active:after,.content-g-projet .item-details-body > .cs-nav-tabs .nav-item a.active:after {
        background: #292e94;
    }

    .content-info .cs-input-file, .content-g-projet .cs-input-file {
        background-color: #F8F9FF;
        border-radius: 8px;
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        color: #666564;
        font-size: 15px;
    }

    .content-info .cs-input-file input, .content-g-projet .cs-input-file input {
        display: none;
    }

    .content-info .item-details-empty, .content-g-projet .item-details-empty {
        max-width: 600px;
        margin: 0 auto;
    }

    .content-info .item-details-empty h3,.content-g-projet .item-details-empty h3 {
        color: #292E94;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-top: 50px;
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        /* Styles */
       /*  .compte{
            border: 1px solid #F00;
        } */

            .sidbar-compte{
                margin-top: 10px;
            }
        }


    @media only screen and (max-width : 607px) {

        /* .third-header ul.steps div.last-step {
            float: left ;
        }

        .sidbar-compte{
            margin-top: 10px !important;
        }
        .sidbar-compte .compte, .sidbar-compte .contact {
            display: inline-block;

            margin-top: 10px;
        }
        .cree-par, .modifier-par {

            margin-bottom: 18px;
        }
        .header ul li {
            margin-top: 20px;
            font-size: 13px;
        }
        .header ul li {
            margin-top: 20px;
            font-size: 8px;
        }
        .header ul li .btn {
            margin-top: 20px;
            font-size: 8px;
        }
 */
    }
.decision_model{
    max-height: 300px;
}
.decision_model,.decision_modelsou{
    max-width: 70% ;
    background: #cccccc21 !important;
}
.decision_modelsou{
    max-height: 690px;
}
.lwithe{
    color: #ffffff;
}
.decision_model,.decision_modelsou .form-control{
    border-radius: 10px !important;
    color: #666564 i !important;
}
.con_decision{
    margin-top: -5px;
 }
.divider30{
    margin-top: 65px;
    margin-bottom: 30px;
}
.divider130{
    margin-top: 135px;
}
.divimb4{
    height: 40px;
}
.divimb444{
    height: 125px;
}
.mt15{
    margin-top: 15px;
}
.mt25{
    margin-top: 25px;
}
.mt10{
    margin-top: 10px;
}
.ml15{
    margin-left: 15px;
}
.hide{
    display: none;
}
.flori{
    float: right;
}
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}
.grey{
    color: #D3D3D3;
}
.border-left-primary {
    border-left: .25rem solid #4e73df!important;
}
.text-gray-300 {
    color: #ccc!important;
}
.text-primary {
    color: #4e73df!important;
}
.card {
    border-left: .25rem solid #4e73df!important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
}
.l45{
    line-height: 40px !important;
}
.l55{
    color: #292E94;
    font-size: 15px;
}
.l55:hover{
    color: #292E94;
    font-size: 15px;
}
.linkco{
    color: #343a40;
    cursor: pointer;
}
.linkco:hover{
    color: #343a40;
}
.projetsevents{
    display: inline-block !important;
    background-color: #FFF !important;
    border-radius: 10px !important;
    box-shadow: 0px 3px 6px #00000029 !important;
}
.nameeve{
    color: #292E94;
}
.nameeve:hover{
    color: #292E94;
}
.removecv{
    position: absolute;
    right: 50px;
    margin-top: 0px;
    display: block;
    color: #090068;
    cursor: pointer;
}
.removecv:hover {
    display: block;
    color: #090068;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 22px !important;
    padding-right: 10px !important;
}
.newcompte{
    display: block;
    z-index: 8500 !important;
    position: absolute !important;
    height: 380px !important;
    max-width: 1200px !important;
    top: 150px !important;
    margin: 0 auto !important;
    background-color: #f8f9ff !important;
}
.newcompte h5{
    color: #292E94;
    margin-right: 46px;
    cursor: pointer;
    font: normal normal bold 18px/23px Roboto;
}
.newcompte .btn-blue {
    color: #080067 !important;
    background-color: #fff !important;
    border-color: #080067 !important;
}
.newcompte .select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 385px !important;
    z-index: 9000 !important;
}
.newcompte .select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    z-index: 9000 !important;
}
.newcompte .select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 9000 !important;
    background: red
}
.newcompte .select2-container--open .select2-dropdown--below {
      Z-INDEX: 99999!important;
}
.modal-content {

    border: 0px solid rgba(0,0,0,.2) !important;

}
.select2-dropdown{
  z-index: 99999!important;
}
.D9UJI88{
  color: #090068;
  font-size: 12px;
}
.contactlist {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 290px;
  min-height: 260px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444444c7 !important;
    line-height: 28px !important;
    font-size: 14px !important;
}
.prince{
  display: block;
  width: 36px;
  height: 37px;
  background-color: #c5c5c5;
  border-radius: 45px;
  margin-left: 40px;
}
.isprince{
  display: block;
  width: 36px;
  height: 37px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 6px 0px #000000;
  box-shadow: 0px 0px 6px 0px #000000;
  border-radius: 45px;
  margin-left: 0px;
}
.min-pc {
    background-color: #ffffff !important;
    height: 460px !important;
}
.min-divider{
  background-color: #f8f9ff !important;
  height: 25px;
  margin: 0px -15px 0px -15px;
}
.isprince .fa{
  margin-left: 10px;
  margin-top: 10px;
  color: #090068;
}
.prince .fa{
    margin-left: 10px;
    margin-top: 10px;
    color: #ffffff;
}
.affect5600{
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}
.col-lg-4 a{
    color: #090068;
}