<form method="post" id="delete-form" action="{{ path('fonction_delete', {'id': fonction.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fonction.id) }}">
	<button class="btn btn-blue" id="delete-item">{{"supprimer"}}</button>
</form>
 