<form method="post" id="delete-form" action="{{ path('compte_delete', {'id': compte.id}) }}">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compte.id) }}">
	<button class="btn btn-blue" id="delete-item">{{'compte.Delete'| trans}}</button>
</form>
