{% extends 'base.html.twig' %}

{% block title %}New TypeProjet{% endblock %}

{% block body %}
    <h1>Create new TypeProjet</h1>

    {{ include('type_projet/_form.html.twig') }}

    <a href="{{ path('type_projet_index') }}">back to list</a>
{% endblock %}
