<form method="post" id="delete-form" action="{{ path('permission_delete', {'id': permission.id}) }}">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ permission.id) }}">
	<button class="btn btn-blue" id="delete-item">{{ 'acces.Delete'| trans }}</button>
</form>
