{% extends 'base.html.twig' %}

{% block title %}New Projets
{% endblock %}

{% block body %}
	<h1>Create new Projets</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-btn-blue">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}
{% endblock %}
