{# Start header third #}
	<div class="third-header col-lg-12">
		<div class="row">
			<div class="col-lg-8">
				 
			</div>
			<div class="col-lg-2">
				<ul class="GPAC" id="type-event">
					{# <li data-val="Investissement" title="Investissement" class={{ event.typeEvenement != "Export" ? "active" : "" }} >
					    <a  class="" href="">I</a>
					</li>
					<li data-val="Export"  class={{ event.typeEvenement == "Export" ? "active" : "" }}>
					    <a  class="" title="Export" href="">E</a>	
					</li> #}
                    
					
				</ul>
			</div>
			
		</div>
	</div>
	{# Enddddd #}
