{% extends 'base.html.twig' %}

{% block title %}New AccesGroupe{% endblock %}

{% block body %}
    <h1>Create new AccesGroupe</h1>

    {{ include('acces_groupe/_form.html.twig') }}

    <a href="{{ path('acces_groupe_index') }}">back to list</a>
{% endblock %}
