{% extends 'base.html.twig' %}

{% block title %}Edit EtatCompte{% endblock %}

{% block body %}
    <h1>Edit EtatCompte</h1>

    {{ include('etat_compte/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('etat_compte_index') }}">back to list</a>

    {{ include('etat_compte/_delete_form.html.twig') }}
{% endblock %}
